body 
ul {
  list-style: none;        /* geen bolletjes */
  margin: 0;
  padding: 0;
  background: #333;        /* donkere balk */
  display: flex;           /* naast elkaar */
}

 HEAD
h1 {
color: chocolate (109, 235, 13);
margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
   overflow: hidden;
  background-color: #1d1c1c;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div {border-bottom-style: solid;}


